.jumbotron{
    background-color: rgb(30, 57, 97);
    color: rgb(248, 247, 247);
    margin-top: 50px;
}

footer{
    padding: 10px 20px 0 20px;
    background-color: rgb(197, 197, 120);
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-turismo{
    flex: 1 200px;
    margin-top: 10px;
    padding: 2px 0px 2px 0px;
}

.btn-reserva{
    width: 100%;
}
 
.footer-address-icon{
    padding-right: 10px;
}
.img{
    width: 100%;
    height: 150px;
}
.img-portada{
    width: 100%;
   
}
.tab-content{
    padding-top: 10px;
}


































